/* Remove default padding */
ul[class],
ol[class] {
  padding: 0; }

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0; }

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5; }

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none; }

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto; }

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block; }

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em; }

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit; }

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

.banner__main-img {
  position: relative;
  animation: float 3s linear infinite; }

@keyframes float {
  0%,
  100% {
    transform: translatey(0px); }
  50% {
    transform: translatey(-2rem); } }

body {
  background: #4a28a9; }

body {
  font-family: "Rubik", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  color: #fff; }

.heading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.banner__title {
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase; }
  .banner__title span {
    font-weight: 400; }

.main-title {
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 4rem;
  margin-bottom: 1rem; }

.secondary-title {
  font-size: 2rem;
  color: #01e8fe; }

.container {
  padding: 0 20%; }

.about {
  width: 100%;
  background: #3d1f94; }

.btn {
  width: 10rem;
  color: #fff;
  background-color: #412394;
  padding: 1.4rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease 0s;
  display: block;
  text-decoration: none;
  text-align: center; }

.btn:hover {
  background: #281266; }

.flow {
  padding-top: 10rem;
  padding-bottom: 10rem; }

header {
  height: 100vh;
  width: 100wh;
  background: url(/img/bg.jpg) no-repeat; }

.nav {
  height: 15%;
  display: flex;
  width: 100%;
  padding: 4.5rem 0; }
  .nav__logo {
    flex: 0 0 25%;
    max-width: 25%; }
  .nav__logo a img {
    height: auto;
    max-width: 80%; }
  .nav__menu {
    flex: 0 0 75%;
    max-width: 75%;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
  .nav__items {
    display: flex; }
  .nav__item {
    display: inline-block;
    padding: 0 1.8rem; }
  .nav__link {
    font-size: 1.6rem;
    display: inline-block;
    text-transform: uppercase;
    padding: 0.3rem 0;
    text-decoration: none;
    color: #fff;
    position: relative; }
  .nav__link:before, .nav__link:after {
    content: "";
    position: absolute;
    transition: transform 0.5s ease; }
  .nav__link:before {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #fff;
    transform: scaleX(0); }
  .nav__link:hover:before {
    transform: scaleX(1); }

.banner {
  height: 100%;
  padding-top: 17rem;
  display: flex; }
  .banner__details {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .banner__main-img {
    width: 50%; }

.about > div {
  display: flex;
  margin-left: 1.5rem;
  margin-right: 1.5rem; }

.about__details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 5rem; }

.about__list {
  list-style: none; }

.about__list-item {
  font-size: 1.6rem;
  margin-bottom: 1.7rem;
  position: relative;
  padding-left: 5rem;
  line-height: 3.9rem; }

.about__list-item:before {
  background-image: url(/img/list-icon.png);
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  left: 0;
  height: 3.9rem;
  width: 3.9rem;
  position: absolute;
  top: 0; }

.about__main-img {
  width: 80%; }

.banner__details p {
  margin: 2rem 0; }
