header {
  height: 100vh;
  width: 100wh;
  background: url(/img/bg.jpg) no-repeat;
}

.nav {
  height: 15%;
  display: flex;

  width: 100%;
  padding: 4.5rem 0;

  &__logo {
    flex: 0 0 25%;
    max-width: 25%;
  }

  &__logo a img {
    height: auto;
    max-width: 80%;
  }

  &__menu {
    flex: 0 0 75%;
    max-width: 75%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__items {
    display: flex;
  }

  &__item {
    display: inline-block;
    padding: 0 1.8rem;
  }

  &__link {
    font-size: 1.6rem;
    display: inline-block;
    text-transform: uppercase;
    padding: 0.3rem 0;
    text-decoration: none;
    color: #fff;
    position: relative;
  }

  &__link:before,
  &__link:after {
    content: "";
    position: absolute;
    transition: transform 0.5s ease;
  }

  &__link:before {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #fff;
    transform: scaleX(0);
  }
  &__link:hover:before {
    transform: scaleX(1);
  }
}

.banner {
  height: 100%;
  padding-top: 17rem;
  display: flex;

  &__details {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__main-img {
    width: 50%;
  }
}

.about {
  & > div {
    display: flex;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  &__details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 5rem;
  }

  &__list {
    list-style: none;
  }

  &__list-item {
    font-size: 1.6rem;
    margin-bottom: 1.7rem;
    position: relative;
    padding-left: 5rem;
    line-height: 3.9rem;
  }

  &__list-item:before {
    background-image: url(/img/list-icon.png);
    background-repeat: no-repeat;
    content: "";
    display: inline-block;
    left: 0;
    height: 3.9rem;
    width: 3.9rem;
    position: absolute;
    top: 0;
  }

  &__main-img {
    width: 80%;
  }
}

@media (min-width: 800px) {
  .services__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 3rem;
  }
}
