body {
  background: #4a28a9;
}

.color1 {
  background: #f85d77;
}

.color2 {
  background: #5ad6f8;
}

.color3 {
  background: #61f89f;
}

.color4 {
  background: #ac56f7;
}

.color5 {
  background: #f8c04e;
}
