.btn {
  width: 12.5rem;
  color: #fff;
  background-color: #412394;
  padding: 1.4rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease 0s;
  display: block;
  text-decoration: none;
  text-align: center;
  cursor: pointer;

  &-white {
    color: #3d1f94;
    background: #fff;
    border: none;
    outline: none;
  }

  &-white:hover {
    color: #fff;
    background: #331781;
  }
}

.btn:hover {
  background: #281266;
}
