.contact {
  &__box {
    width: 42%;

    & ul li:not(:last-child) {
      border-bottom: 1px solid #4a28a9;
      margin-bottom: 3rem;
      padding-bottom: 3rem;
    }
  }

  &__item {
    display: flex;
    align-items: center;

    &--icon {
      margin-right: 1rem;
    }

    &--content h3 {
      font-weight: 400;
    }
  }
}
